RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.pravomlynchak\.ru$ [NC]
RewriteRule ^(.*)$ https://pravomlynchak.ru/$1 [R=301,L]

RewriteCond %{THE_REQUEST} \s/+index\.html[\s?] [NC]
RewriteRule ^index\.html$ / [R=301,L]
