<IfModule mod_authz_core.c>
  <FilesMatch "(?i)\.(php|php5|phtml|phar)$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "(?i)\.(php|php5|phtml|phar)$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>
